///////////////////////////////////
//Variables
////////////////////////////////
$soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);
/*===================================
Reset
=================================== */
@import "resets";

/*//////////////////////////////////////////////////////
            Generic Classes
/////////////////////////////////////////////////////////*/
@import "genaric";
/*////////////////////////////////////////////////////
        Buttons
////////////////////////////////////////////////////*/

@import "btns";
/*////////////////////////////////////////////////////
Hover Effects
//////////////////////////////////////////////////// */
/// 
@import "hover";
/*///////////////////////////////////////////////
    Header
////////////////////////////////////////// */
/// 
@import "header";
/*/////////////////////////////////////////////////
Main conetent
/////////////////////////////////////////////////////*/
/// 
@import "main-content";
/*/////////////////////////////////////////////////////
    Layouts
///////////////////////////////////////////////////// */
@import 'layouts';
/*=/////////////////////////////////////////////////////
    Media Query
///////////////////////////////////////////////////// */
@import "media";

